<footer class="footer">
  <div class="container is-max-widescreen">
    <div class="columns is-max-desktop is-multiline is-centered ">

      <div class="column is-6-mobile is-offset-3-mobile is-5-tablet is-3 is-4-desktop is-3-widescreen pb-0 has-text-centered ">
        <span class="logo"><img src="/statics/images/logo.png"></span>

      </div>
      <div class="column is-12 is-align-self-center has-text-centered pt-0">
        <p><span><i class="icon-dotmap"></i> </span></p>
        <p><span><i class="icon-mail"></i> contact@.fr</span></p>
        <p><span><i class="icon-phone"></i> </span></p>
      </div>




    </div>
  </div>

  <div class="content ">

  </div>
</footer>




