<footer class="footer">
  <div class="container is-max-widescreen">
    <div class="columns is-max-desktop is-multiline is-centered ">

      <div class="column is-6-mobile is-offset-3-mobile is-5-tablet is-3 is-4-desktop is-3-widescreen pb-0 has-text-centered ">
        <span class="logo"><img src="/statics/images/logo.png"></span>

      </div>
      <div class="column is-12 is-align-self-center has-text-centered pt-0">
        <p><span><i class="icon-dotmap"></i> 78520 Follainville</span></p>
        <p><span><i class="icon-mail"></i> contact@1001galops.fr</span></p>
        <p><span><i class="icon-phone"></i> 06.78.53.64.30</span></p>
      </div>

      <div class="column is-12 is-9-desktop">

        <nav class="level is-online my-4">
          <div class="level-item   has-text-left">
              <a class="heading is-size-7">Home</a>
          </div>
          <div class="level-item has-text-left">
            <a class="heading is-size-7 anchor__balade">Balades/Rando</a>
          </div>
          <div class="level-item  has-text-left">
              <a class="heading is-size-7 anchor__apprendre" >Cours</a>
          </div>
          <div class="level-item  has-text-left">
              <a class="heading is-size-7 anchor__apprendre anchor__travail" >Travail du cheval</a>
          </div>
          <div class="level-item has-text-left">
              <a class="heading is-size-7 anchor__club">Club</a>
          </div>
          <div class="level-item has-text-left">
              <a class="heading is-size-7 anchor__evenement">Evenementiel</a>
          </div>
          <div class="level-item has-text-left">
              <a class="heading is-size-7 anchor__contact">Entrer en Contact</a>
          </div>
        </nav>

      </div>



    </div>
  </div>

  <div class="content ">
    <div class="container is-max-widescreen">

      <div class="columns">
          <div class="column is-12 is-6-desktop has-text-left has-text-centered-mobile">
            <p class="title is-size-7"><a href="">1001 Galops</a> 2020. Tous droits reservés. Numéro de Siret : 888 386 620 00015 . </p>
            <p class="title is-size-7"><a href="" class="has-text-black">Mentions légales </a> <a href="" class="has-text-black">Confidentialités des données  </a> <a href="" class="has-text-black">Blog </a> </p>.
          </div>
          <div class="column is-12 is-6-desktop has-text-left-mobile has-text-right has-text-centered-mobile">
            <p class="is-size-7 has-text-centered-mobile">Suivez nous<a href="https://www.facebook.com/1001galops-335841471087873" target="_blank"><i class="has-text-blue mx-1">F</i></a>. </p>
          </div>
      </div>


    </div>
  </div>
</footer>




