<!-- hero area -->
<div  data-section-end class="triggerslidecontent"></div>
<div class="hero-area has-background-sky p-0" id="heroMess">

  <div class="container is-fluid is-widescreen">
    <div class="phoneArea"><span class="title is-5 has-text-weight-bold has-text-black ">Tel: 01.28.13.04.55</span></div>
    <div class="columns is-centered is-multiline container_hero">

      <div class="column is-8 is-8-tablet mt-6 is-5-desktop is-4-widescreen is-4-fullhd is-logo px-6 py-0">
        <div data-scroll="" data-scroll-speed="4" >
         <h1 class="is-title-1 ">Aborder la data autrement</h1>
        </div>
      </div>
      <div class="column is-9-desktop  is-8-widescreen has-text-centered" id="text__fade">
        <h2 class="has-text-weight-black has-text-black font-tertiary  mt-1 title is-4 has-text-centered">MP DATA est une société spécialisée en data science, data engineering et
          <br>optimisation pour l’aide à la décision</h2>
        <button class="button is-outlined is-transparent is-rounded ">MPData en vidéo</button>
        <a href="" class="button is-ghost has-text-black">Prendre rendez-vous</a>
      </div>

    </div>
  </div>
  <div class="layer-bg has-image-fit" id="bg__land" >
   <div class="fullslider">

     <div class="splide" id="splide">
       <div class="splide__track">
         <ul class="splide__list">
           <li class="splide__slide">

             <div class="splide__slide__container">
               <img class="image is-fit" src="/statics/images/illustrations/banner.png" alt="bg-shape">
             </div>
             <div class="splide__slide__text">
               <div class="columns">
                 <div class="column is-7"> <h2 class="title is-1 is-bigger has-text-black has-text-weight-black"><span>Tirer profit de la data pour générer des <span class="has-text-blue">nouveaux leviers de croissance</span></span></h2></div>
                 <div class="column is-5"> <p class="title is-4 is-bigger has-text-black"><span>Les données représentent un atout majeur pour les industries. MP DATA accompagne ses clients industriels dans la valorisation de ses données. </span></p></div>
               </div>
             </div>
           </li>
           <li class="splide__slide">
             <div class="splide__slide__container">
               <img class="image is-fit" src="/statics/images/illustrations/banner.png" alt="bg-shape">
             </div>
             <div class="splide__slide__text">
               <div class="columns">
                 <div class="column is-7"> <h2 class="title is-1 is-bigger has-text-black has-text-weight-black"><span>La data au cœur de  <span class="has-text-blue">l'industrie</span></span></h2></div>
                 <div class="column is-5"> <p class="title is-4 is-bigger has-text-black"><span>Les données représentent un atout majeur pour les industries. MP DATA accompagne ses clients industriels dans la valorisation de ses données. </span></p></div>
               </div>
               </div>
           </li>
         </ul>
       </div>
     </div>



   </div>
  </div>

</div>
<!-- /hero area -->
