///////                     ///////
///////   navigation theme  ///////
///////                     ///////

$goldenratio: 1.618;
$logow: 235px;
$logoratio:0.708;
$logo-bubul-width: $logow * $goldenratio * $goldenratio;

$logowr: (  $fullhd:180px, $widescreen: 160px,$desktop: 140px,$tablet: 140px );

@each $screen, $logow in $logowr {
  @media screen and (max-width: $screen - 1px) {
    width: #{$logow};
  }
  @include until ($screen) {
    height:#{$logow};
  }
}

.test {width:0px;}
//////////////
// sass/scss

.column.is-logo {
  width: 100%;
  max-width: 100%;
}

///formtomap

#formtomap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

///search hero

#searchhero-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .control.submit {
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
  }
}

/// commons

.has-line-1 {
  line-height: 1em;
}
.has-no-margin {
  margin: 0 !important;
}
.has-radius-big {
  border-radius: $radius-big;
}
.has-radius-medium {
  border-radius: $radius-medium;
}

.has-wave-blue-top {
  &::before {
    content:'';
    display: block;
    background-image: url('../images/backgrounds/wave-blue.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    position: absolute;
    height: 114px;
    bottom:100%;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    left:0 ;
  }
}
.has-wave-light-gray-top {
  &::before {
    content:'';
    display: block;
    background-image: url('../images/backgrounds/wave-lightgray.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    position: absolute;
    height: 114px;
    bottom:100%;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    left:0 ;
  }
}

.has-wave-light-gray-bottom {
  position: relative;
  &::before {
    content:'';
    display: block;
    background-image: url('../images/backgrounds/wave-lightgray.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    position: absolute;
    height: 114px;
    bottom:0;
    width: 100%;
    pointer-events: none;
    z-index: 0;
    left:0 ;
  }
}

.has-wave-white-bottom {
  &::after {
    content:'';
    display: block;
    background-image: url('../images/backgrounds/wave-white.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    position: absolute;
    height: 114px;
    bottom:0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    left:0 ;
  }
}
.has-wave-white-inv-bottom {
  &::after {
    content:'';
    display: block;
    background-image: url('../images/backgrounds/wave-whit-inv.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    position: absolute;
    height: 114px;
    bottom:0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    left:0 ;
  }
}

#iconnavSearch {
  a {
    svg {
      transform: scale(1);
      transition: transform 0.2s;
      transform-origin: bottom center;
    }
    &:hover {
      svg {
        transform: scale(1.12);
        transform-origin: bottom center;
      }
    }
  }
}

#whoarewe {
  .mascotte {
    position: absolute;
    bottom: calc(80px - 2.7vw)  ;
    left: 40px;
    width: 274px;
    @include until ($widescreen) {
      bottom: 80px;
      left: 20px;
      width: 184px;
    }
    @include until ($tablet) {
      bottom: 70px;
      left: 20px;
      width: 184px;
    }
  }
  section {
    position: relative;
    width: 100%;
    .imagefortest {
      position: absolute;
      right: -330px;
      top: 50%;
      left: auto;
      border-radius: 100rem;
      overflow: hidden;
      &.is-left{
        right: auto;
        top: 50%;
        left: -330px;
      }
    }
  }
}


.event-splide {
  .card { margin-top:1rem;margin-bottom:1rem;}
}
.splide__arrows {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 100%;
  width: 105%;
  left: -2.5%;
  button {
    border:none;
    background: none;
    font-size: 1.3rem;
    color: $skyblue;
    &.splide__arrow--prev {
      float: left;
    }
    &.splide__arrow--next {
      float: right;
    }
  }
}

#splide-part {
  .splide__slide {
    display: flex;
    align-items: center;
  }
}


.level.is-online {
  flex-wrap: wrap;
}


//////////////////////////////////


body {
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}


section.is-grid {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
  &.hero-area {
    grid-template-columns: 100%;
    height:140vh;
    .fullslider {
      position: relative;
      overflow: hidden;
      height: 80%;
      margin: 0 9rem;
      width: 100%;


    }
  }
}

#sectionPin {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
  @include until ($desktop) {
  height:auto;
    flex-direction: column;
  }
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
  & > * {
    min-width: 60vw;
    padding: 0 5vw;
  }
  &>div {
    position: relative;
    z-index: 2;
  }
  @include until ($desktop) {
    height:auto;
    flex-direction: column;
    & > * {
      min-width: 80vw;
      padding: 0 5vw;
    }
    & > div {
      margin-top:2rem;
      margin-bottom:1rem;
    }
  }
}
.tmpl-home.container {
  max-width: 100vw !important;
  overflow-x: hidden;
  @include until ($desktop) {
    overflow: hidden !important;
  }
}
.has-background-sky {background: linear-gradient(to bottom, #F2F1F1 50%, #F2F1F1)}

.title.is-1,.title.is-2,.title.is-3 {
 &.is-bigger {
   > span {
     font-size :115%;
   }
 }
}

.pin-spacer {

}


///footer
.footer {
  padding: 0;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    //background-image: url(../images/backgrounds/foot-bg.png);
    background-position: top center;
    background-repeat: repeat-x;
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: -4px;
    left: 0;
    @include from ($widescreen) {
      background-size: cover;
    }
  }
  > * {
    position: relative;
    z-index: 1;
  }
}


///welcome
section#welcome {
  height: auto;
  min-height: auto;
  padding: 50px 10vw 0;
  position: absolute;
  z-index: 10;
  place-items: flex-start;
  @include until ($desktop) {
    position: relative;
  }
  h2 {
    font-size: 4.5rem;
    @include until ($desktop) {
    font-size: 3.5rem;
    letter-spacing: -2px;
    }
  }
}


//sliderfade
.slide-image{
  position: relative;
  width: 100%;
  padding-bottom: 120%;
  .slideImg  {
    top: 0;
    left: 0;
    position: absolute;
    max-width: 100%;
  }
}
figure,.slide-image {
  img {
    border-radius: 1rem;
    @include from ($desktop) {
      border-radius: 2rem;
    }
  }
}
