$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icons" !default;

$icon-mail: "\e913";
$icon-trust: "\e910";
$icon-dotmap: "\e911";
$icon-calend: "\e912";
$icon-search-ilus: "\e900";
$icon-agenda: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-bold-left: "\e904";
$icon-arrow-bold-right: "\e905";
$icon-mouse: "\e906";
$icon-like: "\e907";
$icon-team: "\e908";
$icon-file: "\e909";
$icon-map: "\e90a";
$icon-list: "\e90b";
$icon-target: "\e90c";
$icon-mappoint: "\e90d";
$icon-why: "\e90e";
$icon-home: "\e90f";
