---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<section  id="contact" class="is-bl-beige-lighter">
<div class="container  is-widescreen">
  <div class="columns ">
    <div class="column has-text-centered"><h4>Nos expertises</h4></div>
  </div>
</div>

</section>
<section  id="contact" class="is-bl-nearblack">
  <div class="columns container  is-widescreen">
    <div class="column has-text-centered ">
      <h1 class="title is-1 is-bigger"><span>
        La société <span class="has-text-blue">accompagne ses clients</span> dans l’amélioration de leurs performances par
        <span class="has-text-blue">la valorisation de leurs données</span>.
      </span></h1></div>
  </div>

  <div data-scroll data-scroll-speed="1">
    <h2  ><a href="mailto:contact@1001galops.fr" >Scheherazade Bracht</a></h2>
    <p class="title is-4">Diplômée Accompagnatrice de Tourisme Équestre (ATE) <br>
      et Enseignante d’équitation (BPJEPS).</p>
    <p>
      Passionnée par les chevaux et l’équitation depuis l’enfance.
    </p>
    <p>
      Diplômée d’une licence de Langue Littérature et Civilisations étrangères spécialisée en Anglais, ainsi qu’un BTS assistant manager, j’entre comme Assistante Marketing & Commerciale bilingue en grands groupes internationaux.
    </p>
    <p>
      Je me forme aussi à la sophrologie.
    </p>
    <p>
      Mon amour des chevaux et de l’équitation ne me quittant pas, je décide de me reconvertir afin de travailler de ma passion.
    </p>
    <p>
      A présent diplômée Accompagnatrice de Tourisme Equestre et Enseignante d’équitation, j’ai la volonté de pouvoir vous transmettre ma passion.
    </p>
    <p>
      Alors venez vous balader à cheval, suivre un cours d’équitation, suivre une séance d’équi-relaxation, ou me solliciter pour un coup de main dans vos structures équestres, ou encore me faire part d’un besoin en événementiel, c’est avec un immense plaisir que je répondrai à votre demande.
    </p>
  </div>
</section>


